<p> Nyquist has its roots in audio engineering &amp; music discussion – nyquist comes from the <a href="https://en.wikipedia.org/wiki/Nyquist%E2%80%93Shannon_sampling_theorem">Nyquist-Shannon Sampling Theorem</a> – but most topics are fine as long as they follow community rules. </p>

<p> If you're a decent person, then the rules will be obvious. </p>

<p> If you're running bot(s), please read about bot usage and etiquette. </p>

<hr>

<h3> Code of Ethics </h3>

<p> In short: <em>be excellent to one another</em>. This is a community–treat the other users on <a href="https://nyquist.space/about">nyquist.space</a> as your neighbors.</p>

<p> <a href="https://nyquist.space/about">nyquist.space</a> is open for <em>everyone</em>, as long as they respect the community and rules.

<p> If there are any issues, contact staff or <a href="https://nyquist.space/@z">(@z)</a>.

<p> Lastly, have fun! </p>

<hr>

<h3> Attachment Rules </h3>

<ul>
  <li> <em> You can </em> upload content, just be sure to <em>credit the author</em>. 
    <ul> 
      <li> Credits aren't always listed. If this is the case, just link to where you found the image. </li>
    </ul>
  </li>
  <li>
    <em> You can't </em> upload anything illegal.
    <ul>
      <li>
        Sexual depiction of children (drawings / photography) is not allowed.
      </li>
      <li>
        Any sexual depiction of minors under the age of 18, including yourself. No exceptions.
      </li>
      <li>
        Anything else deemed illegal as per German laws.
      </li>
    </ul>
  </li>
  <li>
    <em> You have to </em> hide NSFW pictures using the <em> <i class="fa fa-fw fa-eye" aria-hidden="true"></i></em> button.
    <ul>
      <li>
        In addition, for pornographic content, you have to set the privacy level to 
        <em> <i class="fa fa-fw fa-unlock-alt" aria-hidden="true"></i>Unlisted </em> at least.
      </li>
    </ul>
  </li>
</ul>

<hr>


<h3> Handling harassment </h3>

<p> If you are being harassed, please report the user using the "…" button and then "Report." For urgent concerns, please message a staff member directly. </p>

<p> If you engage in harassing behavior, the moderator may take any action they deem appropriate per the moderation policies (or per their own discretion). </p>

<hr>

<h3 id="officials"> Admins &amp; Moderators </h3>
<ul>
  <li> <em> Admin / Webmaster </em> — Andrew Zah (<a href="https://nyquist.space/@z">@z</a>) </li>
</ul>

<hr>

<h3> Rules &amp; Moderation Policy </h3>
<p> The following guidelines are not a legal document, and <em>final interpretation is up to the administration of nyquist.space</em>—they are here to provide you with an insight into our content moderation policies: </p>

<hr>

<p> The following types of content will be removed from the public timeline: </p>
<ul>
  <li> Excessive advertising or self-promotion
    <ul>
      <li> Please keep in mind that this is a <i style="font-style:italic">community</i>, and as such, advertising generally has no place here. </li>
      <li> Self-promotion with music is acceptable <i style="font-style:italic">as long as</i> you participate in the community. The content:promotion ratio should be 10:1 or 15:1. </li>
    </ul>
  </li>
  <li> Uncurated news bots posting from third-party news sources </li>
  <li> Untagged nudity, pornography and sexually explicit content, including artistic depictions </li>
  <li> Untagged gore and extremely graphic violence, including artistic depictions </li>
</ul>

<hr>

<p> The following types of content will be removed from the public timeline, and may result in account suspension and revocation of access to the service: </p>
<ul>
  <li> Annoying and/or spammy bots, particularly "follow bots". Bots should not post to the public timeline. </li>
  <li> Racism or advocation of racism. </li>
  <li> Sexism or advocation of sexism. </li>
  <li> Discrimination against gender and sexual minorities, or advocation thereof. </li>
  <li> Xenophobic and/or violent nationalism. </li>
  <li> Holocaust denialism, Nazi symbolism, National Socialism, or anything that would be banned in Germany. </li>
</ul>

<hr>
        
<p> The following types of content are explicitly disallowed and will result in revocation of access to the service: </p>
<ul>
  <li> Sexual depictions of children </li>
  <li> Content illegal in Germany, such as holocaust denial or Nazi symbolism </li>
  <li> Pretending to be an admin, moderator, root, operator, webmaster, or otherwise pretending to act in official capacity for <a href="https://nyquist.space">nyquist.space</a> or any other related services.
    <ul> <li> See above for an <a href="#officials">official admin/moderator list</a>. </li> </ul>
  </li>
</ul>

<hr>
        
<p> Any conduct intended to stalk or harass other users, or to impede other users from utilizing the service, or to degrade the performance of the service, or to harass other users, or to incite other users to perform any of the aforementioned actions, is also disallowed, and subject to punishment up to and including revocation of access to the service. </p>
<p> This includes, but is not limited to, the following behaviors: </p>
<ul>
  <li> Continuing to engage in conversation with a user that has specifically has requested for said engagement with that user to cease and desist may be considered harassment, regardless of platform-specific privacy tools employed </li>
  <li> "Doxxing" or aggregating, posting, and/or disseminating a person's demographic, personal, or private data without express permission (informally called doxing or dropping dox) may be considered harassment. </li>
  <li> Inciting users to engage another user in continued interaction or discussion after a user has requested for said engagement with that user to cease and desist (informally called brigading or dogpiling) may be considered harassment. </li>
</ul>

<hr>

<p> These provisions notwithstanding, the administration of the service reserves the right to revoke any user's access permissions, at any time, for any reason, except as limited by law. </p>
<p> As <a href="https://nyquist.space">nyquist.space</a> is hosted in Germany, it adheres to German laws and regulations.</p>

<hr>

<h3> Discussion &amp; Feedback </h3>

<p> Please create a new issue on <a href="https://gitlab.com/andrewzah/nyquist.space">Gitlab</a>. This is vastly preferable as anything else tends to get lost after a few days or weeks. </p>
<p> If you don't have/want a Gitlab account, you can message <a href="https://nyquist.space/@z">@z</a>. </p>

<hr>

<h3> On Blocking Instances </h3>
<p> I hesitate when it comes to blocking instances... I believe for the most part, people should block for themselves. </p>

<p> I plan on writing about this at-length, but I generally only want to block instances if they host:</p>
<ul>
  <li> illegal (by Western and European standards, and German laws) content.
    <ul> <li> i.e. lolicon. Its legality in Japan is irrelevant because I am not Japanese. </li> </ul>
  </li>
  <li> <a href="https://wikipedia.org/wiki/Miller_test">otherwise strongly obscene or incensing content.</a> </li>
</ul>

<p> The blocklist is available on <a href="https://gitlab.com/andrewzah/better-mastodon-blocklist">Gitlab</a>. If you feel I have wrongly blocked or miscategorized an instance, I definitely encourage opening an issue and discussing it! </p>

<p> The current state of Mastodon seems that admins can be quite quick to generalize and block instances due one or a few users. I blame Dzuk for over-generalizing, and spreading their personal views while pretending to be a general block list. The fact that issues are disabled on their github repo (thus blocking any discussion/self-defense), is extremely telling. </p>


<hr>

<h3> Sources &amp; Inspiration </h3>
<ul>
  <li> <p> <a href="https://mastodon.social/about/more">mastodon.social</a>. Thanks for everything, <a href="https://mastodon.social/@gargron">@gargon</a>! </p> </li>
  <li> <p> <a href="https://toot.cafe/about/more">toot.cafe</a>
</ul>

