<p> Welcome to <em>Nyquist</em>! We are a friendly international community. </p>

<p> Nyquist is a moderated instance that doesn't accept hate speech or harassment. So what sets us apart? Well, unlike many Mastodon instances, we won't prevent you from interacting with instances that don't respect our rules. Instances that host illegal content will still be blocked.</p>

<p> The primary language used here is English. However as many people have a different first language, other languages are very welcome! </p>

<p> Why not make an <em>#introduction</em>? </p>
