<p> I, Andrew Zah (<a href="https://nyquist.space/@z">@z</a>), host a Mastodon instance that federates (gives access) to the <a href="https://en.wikipedia.org/wiki/Fediverse">Fediverse</a>. </p>

<p> What will I do with your data? Nothing. How will you be influenced by advertisers? You won't—brands and non-humans (other than fun/useful bots) are banned. How will I aggregate your data in order to improve your service… none of that...! </p>
<p> More privacy measures on nyquist.social: </p>
<ul>
  <li> EXIF data (GPS location, date, camera type, etc.) is <a href="https://github.com/tootsuite/mastodon/issues/85>"> stripped from images</a> and never stored. </li>
  <li> All crawlers are <a href="https://github.com/tootcafe/mastodon/pull/1">blocked in robots.txt</a>. </li>
  <li> HTTPS is used everywhere thanks to <a href="https://letsencrypt.org/">Let's Encrypt</a>. </li>
  <li> No ads or trackers. </li>
  <li> Links are direct URLs rather than tracking redirects. </li>
</ul>

<hr>

<p> We (the Mastodon software and I) only store your email address to allow you to: </p>
<ul> 
  <li> recover your password if you forget it </li>
  <li> prevent multiple users from signing up with the same email (a form of spam prevention) </li>
</ul>

<p> We cannot guarantee that your data will be deleted remotely across the Fediverse as our query might not reach some instances or may be ignored. </p>
<p> Our logging systems retain information about server requests for 30 days (IP / Browser used / ... what-your-browser-is-sending-to-us), and then it's deleted. The last IP you used to connect your account is kept indefinitely, unless you delete your account. </p>
<p> When you delete your account, we will retain only your username (i.e. "@z") on this instance to avoid identity theft. </p>

<hr>

<p> As with all Mastodon servers (and websites), you cannot trust me, since I am technically able to access everything you put into nyquist.space. </p>
<p> I certainly don't access private information, but there's no way for you to verify that.
Using this mastodon instance (or <em> any website </em> for that matter) requires trust on your part.
</p>
<p> You also cannot trust the network since <em>everything is on the internet</em>, so please, refrain from posting anything that should be confidential or not known. </p>
<p> For truly private communication, use a proper <a href="https://signal.org">end-to-end encrypted messaging software</a>. </p>

<hr>

<h4> Sources &amp; Inspiration </h4>
<ul>
  <li> <a href="https://toot.cafe/about/more"> toot.cafe </a> </li>
  <li> <a href="https://niu.moe/about/more"> niu.moe </a> </li>
</ul>
